<h1>商品新規登録</h1>

<%= form_with model: @item, url: '/admin/items', local: true do |f| %>

  <p><span>商品画像</span><%#= f.attachment_field :image %></p>
  <p><span>商品名</span><%= f.text_field :name %></p>
  <p><span>商品説明</span><%= f.text_area :introduction %></p>
  <p>ジャンル</p>
  <p><span>税抜価格</span><%= f.text_field :price %></p>  
  <p>販売ステータス</p>
  <%= f.submit '新規登録' %>

<% end %>