<!--<h1>注文履歴一覧</h1>-->

<!--<table>-->
  <!--<tr> <th>購入日時</th> <th>購入者</th> <th>注文個数</th> </tr>-->
  <%# @orders.each do |order| %>
  <%# customer = Customer.find(order.customer_id) %>

  <%# @order_details = OrderDetail.where(order_id: order.id) %>
  <%# amount = 0 %>
  <%# @order_details.each do |order_detail| %>
    <%# amount += order_detail.amount %>
  <%# end %>

  <!--<tr>-->
    <!--<td><%#= link_to order.updated_at.strftime("%Y/%m/%d %H:%M:%S"), "/admin/orders/update_order_status/#{order.id}", method: :patch %></td>-->
    <!--<td><%#= customer.last_name %><%= customer.first_name %></td>-->
    <!--<td><%#= amount %></td>-->
  <!--</tr>-->
  <%# end %>
  <%#= paginate @orders %>
<!--</table>-->

<h1>注文履歴詳細</h1>
<table>
  <tr> <td>購入者</td> <td><%= @customer.last_name %><%= @customer.first_name %></td> </tr>
  <tr> <td>注文日</td> <td><%= @order.updated_at.strftime("%Y/%m/%d") %></td> </tr>
  <tr>
    <td>配送先</td>
    <td>
      <div><%= @order.shipping_postal_code %><%= @order.shipping_address %></div>
      <div><%= @order.shipping_name %></div>
    </td>
  </tr>
  <tr> <td>支払方法</td> <td><%= @order.payment %></td> </tr>
</table>

<table>
  <tr> <th>商品名</th> <th>単価(税込)</th> <th>数量</th> <th>小計</th> </tr>
  <% total_price = 0 %>
  <% @order_details.each do |order_detail| %>
    <tr>
      <% item = Item.find(order_detail.item_id) %>
      <td><%= item.name %></td>
      <td><%= order_detail.tax_included_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.tax_included_price * order_detail.amount %></td>
    </tr>
    <% total_price += (order_detail.tax_included_price * order_detail.amount) %>
  <% end %>
</table>

<table>
  <tr> <td>商品合計</td> <td><%= total_price %>円</td> </tr>
  <tr> <td>送料</td> <td><%= @order.shipping_fee %>円</td> </tr>
  <tr> <td>請求金額合計</td> <td><%= @order.total_payment %>円</td> </tr>
</table>