<h1>注文情報入力</h1>

<%= form_with model: @order, url: '/orders_confirm', local: true do |f| %>
  <h2>支払方法</h2>
  <%= f.radio_button :payment, :credit , checked: true %>
  <%= f.label :payment, "クレジットカード", {value: :credit} %>
  <%= f.radio_button :payment, :bank %>
  <%= f.label :payment, "銀行振込", {value: :bank} %>

  <h2>お届け先</h2>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <p><%= @customer.postal_code %><%= @customer.address %></p>
  <p><%= @customer.last_name %><%= @customer.first_name %></p>

  <%= f.hidden_field :shipping_postal_code, value: @customer.postal_code %>
  <%= f.hidden_field :shipping_address, value: @customer.address %>
  <%= f.hidden_field :shipping_name, value:  @customer.last_name + @customer.first_name %>
  <%= f.hidden_field :shipping_fee, value: "800" %>

  <%= f.submit '確認画面へ進む' %>
<% end %>