<h1>注文履歴詳細</h1>
<h2>注文情報</h2>
<table>
  <tr> <td>注文日</td> <td><%= @order.updated_at.strftime("%Y/%m/%d") %></td> </tr>
  <tr>
    <td>配送先</td>
    <td>
      <p><%= @order.shipping_postal_code %></p>
      <p><%= @order.shipping_address %></p>
      <p><%= @order.shipping_name %></p>
    </td>
  </tr>
  <tr> <td>支払方法</td> <td><%= @order.payment %></td> </tr>
</table>
<h2>注文内容</h2>
<h2>請求情報</h2>
