<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <!--管理者ログイン中のヘッダー-->
      <% if admin_signed_in? %>
        <li>
          <%= link_to "商品一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
      <% end %>

      <!--会員ログイン中のヘッダー-->
      <% if customer_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "ログイン", new_customer_session_path %>
        </li>
      <% end %>

    </header>

    <%= yield %>
  </body>
</html>
